<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="details content">
      <h2><%= blog.title %></h2>
      <div class="content">
        <p><%= blog.body %></p>
      </div>
      <a class="delete" data-doc="<%= blog._id %>">
        <img src="/trashcan.svg" alt="delete icon" />
      </a>
      <!-- This is the delete button -->
      <!-- The delete button is an anchor tag with a class of delete and a data-doc attribute that holds the blog id. -->
    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
      const trashCan = document.querySelector('a.delete');
      trashCan.addEventListener('click', async e => {
        const endpoint = `/blogs/${trashCan.getAttribute('data-doc')}`;
        await fetch(endpoint, {
          method: 'DELETE',
        })
          .then(res => {
            if (res.ok) {
              window.location.href = '/blogs';
            } else {
              console.log('Error deleting blog');
            }
          })
          .catch(err => {
            console.log('Error deleting blog', err);
          });
      });
    </script>
  </body>
</html>
